@import '../../app/ImportStyle';

.Basket {
<<<<<<< HEAD
  width: 1280px;
  h2 {
    display: block;
    margin: 15px 0;
=======
  max-width: 1280px;
  margin: 0 auto;
  h2 {
    display: block;
    margin: 15px 0;
    font-size: $fontSizeHead;
>>>>>>> master
    padding-left: 25px;
    font-family: $fontBig;
  }
}
.Basket-List {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  grid-gap: 5px;
  height: auto;
}
<<<<<<< HEAD
=======
.Basket-SendForm {
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: $fontSizeMed;
  padding: 25px;
  margin: 10px;
  button {
    font-family: $fontSm;
  }
}
>>>>>>> master
.Basket-Item {
  border-radius: 5px;
  width: 100%;
  display: grid;
  grid-gap: 5px;
  justify-items: center;
  height: 400px;
  grid-template-columns: repeat(2,1fr);
  .Basket-Item_Text {
    position: relative;
    font-family: $fontSm;
    h3 {
      margin-bottom: 65px;
      font-family: $fontBig;
    }
    .Basket-Item_Text__price {
      position: absolute;
      bottom: 0;
<<<<<<< HEAD
=======

>>>>>>> master
      left: 0;
      padding: 15px;
      display: flex;
      width: 100%;
      justify-content: center;
      text-align: center;
      font-size: 19px;
      font-family: $fontSm;
      font-weight: 700;
    }
  }
  img {
    width: 400px;
    height: 400px;
  }
}
.ModalForm {
<<<<<<< HEAD
=======
  h2 {
    font-size: $fontSizeMed;
  }
>>>>>>> master
  position: absolute;
  top: 50%;
  left: 50%;
  display: grid;
<<<<<<< HEAD
=======
  grid-gap: 15px;
>>>>>>> master
  transform: translate(-50%,-50%);
  background: #fff;
  width: 800px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 500px;
  padding: 50px;
  .ModalForm_item {
    display: flex;
    flex-direction: column;
<<<<<<< HEAD
=======
    gap: 5px;
>>>>>>> master
    width: 100%;
  }
  .ModalForm_ButtonBlock {
    margin: 15px;
    font-family: $fontSm;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
  }
<<<<<<< HEAD
=======
}
.SuccessMessage {
  position: absolute;
  top: 50%;
  left: 50%;
  display: grid;
  grid-gap: 65px;
  transform: translate(-50%,-50%);
  background: #fff;
  width: 800px;
  padding: 45px;
  text-align: center;
  font-size: $fontSizeMed;
>>>>>>> master
}